<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>News Portal</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="{% url 'home' %}" >News Portal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a href="{% url 'search' %}" style="color: white;text-decoration:none" >Search  </a></li>
                        <li>  &nbsp; &nbsp;   </li>
                        <li class="nav-item"><a href="{% url 'add' %}" style="color: white;text-decoration:none" >Write your own  </a></li>
                          <li>  &nbsp;  &nbsp;  </li>
                        <li class="nav-item"><a href="{% url 'premium' %}" style="color: white;text-decoration:none" >Become an author</a></li>
                          <li>  &nbsp;  &nbsp;  </li>
                        <li class="nav-item"><a href="{% url 'logout' %}" style="color: white;text-decoration:none" >Logout</a></li>


                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
              {% block title %}

          {% endblock %}



            </div>
        </header>
        <!-- News section-->
        <section id="news">
            <div class="justify-content-center">
                <div class="row gx-2 justify-content-center">
                    <div class="col-lg-10">
                      {% block date %}

                      {% endblock %}

                      {% block content %}

                        {% endblock content %}
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Lisa Chalaguine 2022</p></div>
        </footer>

    </body>
</html>
